@font-face {
  font-family: "LeeSeoyun";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202-2@1.0/LeeSeoyun.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: LeeSeoyun;
}
.cls-thead {
  display: flex;
  justify-content: space-between;
}
.cls-1 {
  float: left;
}
.cls-search {
  float: left;
  height: 50px;
  margin: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 1px solid gray;
}
#div-search {
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#div-login {
  float: right;
}
#img-youtube {
  width: 200px;
  height: 100px;
  margin: 20px 15px;
}
#input-text {
  width: 400px;
  border: none;
  margin: 0px 10px;
}
#button {
  width: 50px;
  border: none;
}
#btn {
  width: 50px;
  height: 40px;
  cursor: pointer;
}
#div-login {
  margin: 10px 80px;
}

.row {
  height: 25%;
}
.col-1 {
  width: 25%;
  float: left;
  margin: 10px 10px;
}
.col-2 {
  width: 25%;
  float: left;
  margin: 10px 10px;
}
.cls-a {
  text-decoration: none;
  color: black;
}
.cls-tfoot {
  clear: both;
}
